:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-m: 16px;
 
  --font-family-arial-regular: "Arial-Regular", Helvetica;
}
.arial-regular-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
