.Info
{
    margin: auto;
    width:50%;
    height: 1600px;
    
}

.textBody
{
    background: rgb(175 175 175 / 10%);
    border-left: solid;
    border-width: thin;
    border-color: lightgrey;
}

p.important
{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-style: normal;
    font-size: 52px;
    font-weight: bold;
}

p
{
    font-weight: 400;
    font-style: normal;
    letter-spacing: .12px;
    color: #231f20;
    font-size: 21px;
    line-height: 25px;
    text-align: left;
    margin-left: 65px;
    margin-right: 45px;
}

h3
{
    font: Bold 20px/25px Adobe Clean;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#List
{
    font-size: 21px;
}

li
{
    font-weight: 400;
    font-style: normal;
    letter-spacing: .12px;
    color: #231f20;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    margin-left: 65px;
    margin-right: 45px;
}