
.sidepanel  
{
    width: 0;
    position:fixed;
    z-index: 1;
    height: 500px;
    top: 75px;
    left: 0;
    background: #f7f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0px 50px 50px 0px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .sidepanel a 
  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover 
  {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn 
  {
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .sidepanel div.PanelDoor
  {
    float:right; 
    border-right:7px solid #001a1a;
    height:100%; background:cyan;
  }

  .sidepanel div.PanelDoor:hover
  {
    background-color: rgba(0, 200, 255, 0.436);
    background: rgba(0, 166, 255, 0.436);
    border-right-color: rgba(0, 166, 255, 0.436);
  }